.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-position: 95% top;
  background-size: contain;
  background-repeat: no-repeat;
}

h1,
span.badge,
button.btn {
  text-transform: uppercase;
}

button.btn, button.accordion-button {
  font-weight: bold;
}

.light-mode {
  background-color: white;
  color: #282c34;
  transition: all 400ms;
}

.dark-mode {
  background-color: #282c34;
  color: white;
  transition: all 400ms;
}

.light-background-image {
  background-image: url("./images/firemoth-light.png");
}

.dark-background-image {
  background-image: url("./images/firemoth-dark.png");
}
